.header-link-wrap {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 39px;

  margin-bottom: 50px;
}

.dresses__title {
  font-size: 56px;
  font-weight: 500;
  line-height: 1.14;
  text-transform: uppercase;
}
