.fashion-card {
  width: 398px;
}

.show-all-card {
  width: 398px;
  height: 100%;
}

.show-all-card__meta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 316px;
  padding: 52px 54px;
  border: 3px solid $border-color;
  margin-bottom: 16px;
}

.show-all-card__title {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.16;
  text-transform: uppercase;
}

.show-all-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.show-all-list__item {
  width: 191px;
}

.card-hover {
}
