.products {
  padding: 80px 80px 100px 80px;

  &--bottom-line {
    border-bottom: 1px solid $border-color;
  }
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}
