.shop-link {
  font-weight: 500;
  text-transform: uppercase;

  &--font {
    font-size: 16px;
  }
}

.color-link {
  border-radius: 84px;
  font-weight: 500;
  text-transform: uppercase;

  &--primary {
    background-color: $accent-color;
    color: $background-color;
    padding: 14px 20px 14px 20px;
    max-width: 198px;
  }

  &--centred {
    margin: 0 auto;
  }

  &--grey {
    background-color: $border-color;
    color: $accent-color;
    padding: 14px 20px 14px 20px;
  }
}

.arrow-icon {
  &--sale-baner-style {
    stroke: $liht-color;
    margin-left: 10px;
  }

  &--baner-style {
    margin-left: 33px;
    stroke: $background-color;
  }

  &--black {
    stroke: $dark-color;
    margin-left: 20px;
  }

  &--accent {
    stroke: $accent-color;
    margin-left: 20px;
  }

  &--subscribe {
    margin-left: 0;
    margin-right: 15px;
  }
}
