.products {
  padding-top: 80px;
  padding-bottom: 80px;

  &--bottom-line {
    border-bottom: 1px solid $border-color;
  }
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
}
