.quote {
  display: flex;
  justify-content: space-between;
  align-items: start;

  padding: 33px 140px 70px 140px;
}

.quote-images {
  position: relative;
  width: 690px;
  height: 797px;
}

.quote-images__item {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 540px;

  &--rotate {
    transform: translate(-56%, -48%) rotate(-7deg);
  }

  &--translate {
    transform: translate(-38%, -52%) rotate(4deg);
  }
}

.qoute-wrap {
  width: 828px;
  text-align: center;
  padding: 50px 0 63px 0;
}

.quote__icon {
  margin: 0 auto;
  margin-bottom: 40px;
}

.qoute__text {
  padding-bottom: 124px;
  border-bottom: 1px solid $dark-color;
  margin-bottom: 20px;

  color: $accent-color;
  font-family: $accent-font-style;
  font-size: 56px;
  font-weight: 400;
  line-height: 1.14;
}

.quote-author-wrap {
  display: flex;
  justify-content: space-between;
}

.quote__author,
.quote__ocupation {
  color: $accent-color;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

.quote__ocupation {
  font-style: italic;
}
