.recent-posts-title-wrap {
  position: relative;

  display: flex;
  align-items: end;
  justify-content: end;

  margin-right: 214px;
  margin-bottom: 70px;
}

.recent-posts {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 220px;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.post-list__item {
  &--top {
    align-self: flex-start;
  }

  &--bottom {
    align-self: flex-end;
  }
}
