.search-form {
  position: relative;
}

.search-form__input {
  padding: 4px 0 4px 38px;
  font-weight: 500;
  border: none;
  border-radius: 6px;

  transition: background-color 250ms $transition-function;

  &::placeholder {
    color: $dark-color;
    opacity: 0.2;
  }

  &:focus {
    border: none;
    outline: none;
    background-color: $background-color;
  }
}

.search-form__button {
  position: absolute;
  top: 50%;
  left: 10px;

  transform: translateY(-50%);
}
