.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  padding-left: 12px;
  font-weight: 500;
  border: none;

  &::placeholder {
    color: $dark-color;
    opacity: 0.2;
  }

  &:focus {
    border: none;
    outline: none;
  }
}
