$dark-color: #000c22;
$dark-color-opacity: rgb(0, 12, 34, 0.4);
$accent-color: #491e4b;
$background-color: #eee9dc;
$liht-color: #fff;
$border-color: rgba(0, 0, 0, 0.1);

$primary-font-style: "Inter", sans-serif;
$accent-font-style: "Architects Daughter", cursive;

$box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);